/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

/*------------------------------------general styles-------------------------------*/

html{
	/*background-image: url('../images/RB_main_bg.jpg');*/
}

body{
	background-image: url('../images/RB_background.jpg');
}

header img{
	padding: 10;
}

h1{
	font-family: 'Cinzel Decorative', cursive;
	font-size: 1.5em;
	color: #ff2a29;
	background: #282828;
	overflow: hidden;
	display: block;
	float: left;
	height: 56px;
	line-height: 56px;
	margin: 0%;
	outline: 0;
	padding: 0 1em 0 1em;
}

p, label, li{
	font-family: 'Nixie One', cursive;
}

p, label{
	font-size: 1.2em;
}

h2{
	font-family: 'IM Fell Great Primer', serif;
	font-size: 1.7em;
	color: #ff2a29;
}

header img{
	height: 56px;
	overflow: hidden;
	display: block;
	float: left;
}

footer{
	clear: both;
}

#gallery ul{
	list-style-type: none;
}


/*------------------------------------nav elements-------------------------------*/

nav ul{
	margin: 0% auto;
	list-style-type: none;
	padding: 0%;
	overflow: hidden;
}

nav li{
	background: #282828;
	width: 16.6666667%; 
	float: left;
	font-size: .8em;
}

nav a{
	text-decoration: none;
	display: block;
	height: 56px;
	line-height: 56px;
	text-align: center;
	color: #fff;
}

nav a:hover{
	color: #ff2a29;
	background: #282828;
	position: relative;
	bottom: 1px;
}

nav a:active{
	color: #fff;
	background: #ff2a29;
}


/*------------------------------------footer elements-------------------------------*/

footer{
	background: #282828;
	color: #fff;
	font-size: .8em;
}

.footer_1{
	text-align: left;
	float: left;
	padding-left: 1em;
}

.footer_2{
	text-align: right;
	float: right;
	padding-right: 1em;
}

.footer_3{
	clear: left;
	padding-left: 1em;
}

/* =============================================================================
   Page Styles
   ========================================================================== */

/*------------------------------------index page-------------------------------*/

.intro{
}

.intro h2{
	width: 100%;
	text-align: center;
}

.intro img{
	margin: 2.5% 0 1% 1%;
}

.intro p{
	text-indent: 50px;
	text-align: justify;
	margin: 0 0 2% 5%;
}

.beauty{
}

.beauty h2{
	width: 100%;
	text-align: center;
}

.beauty p{
	text-indent: 50px;
	padding: 0 1em;
	text-align: justify;
}

/*------------------------------------button element-------------------------------

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 25px/100% Arial, Helvetica, sans-serif;
	padding: .8em 2em .8em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 2em 0em 0em 4em;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.red {
	color: #fff;
	border: solid 1px #d0000d;
	background: #d0000d;
	background: -webkit-gradient(linear, left top, left bottom, from(#cd3b45), to(#d0000d));
	background: -moz-linear-gradient(top,  #cd3b45,  #d0000d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd3b45', endColorstr='#d0000d');
}
.red:hover {
	background: #d0000d;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0000d), to(#af000b));
	background: -moz-linear-gradient(top,  #d0000d,  #af000b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0000d', endColorstr='#af000b');
}
.red:active {
	color: #282828;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0000d), to(#cd3b45));
	background: -moz-linear-gradient(top,  #d0000d,  #cd3b45);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0000d', endColorstr='#cd3b45');
}

*/


/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/